html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-size: 14px;
}
a{
    text-decoration: none;
    color: rgb(0, 13, 128);
}
p{
    color:red;
}
.session-wrapper {
    width: 100%;
    padding-top: 60px;
}

/* logo样式 */
.session_header{
    text-align: center;
} 

.container {
    width: 1040px;
    padding: 0px 20px;
    margin: 0px auto;
}

/* 表单矿体 */
.session_body {
    height: 100%;
    position: relative;
    padding: 64px 75px 48px;
}

.session-form {
    position: relative;
    margin: 0px auto;
    border: 1px rgba(38, 38, 39, 0.473) solid;
    width: 380px;
    box-shadow: 3px 3px 5px #918e8e7e;
}

/*头部*/
.session-form_header {
    margin-left: 10px;
    width: 380px;

}

.session-form_header .session-form_tittle {
    float: left;
}
.session-form_header .pull-right{
    float: right;
    margin: 30px;
}

.session-register_form {
    margin-top: 40px;
    padding: 30px 20px;
}
.parent{
    margin-bottom: 20px;
}

.session-form .parent input{
    border:1px #aaa solid;
    border-radius:4px;
    background: rgba(235, 235, 238, 0.486);;
    text-align: left;
    font-size: 15px;
    width: 280px;
    height: 40px;
    line-height: 10px;
    padding: 0 20px;
    font-weight: lighter;
}

.session-form .fixed{
    width: 138px;
    height: 28px;
    background-color: #EFEFEF;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    display: block;
    float: left;
    padding-top: 12px;
    padding-left: 12px;
    border-bottom: 1px #aaa solid;
    border-top: 1px #aaa solid;
    border-left: 1px #aaa solid;
}
.session-form .parent .user_address{
    width: 128px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.clearFix::after {
    display: block;
    content: "";
    clear: both;
}
#teacher, #student ,#admin{
    padding: 0;
    width: 18px;
    height: 18px;
}
#btn-submit{
    width: 320px;
    height: 38px;
    background-color: rgb(254,115,1);
    border: 0;
    border-radius: 3px;
    color: white;
    line-height: 22px;
    font-size: 16px;
}

#accept_term {
    padding: 0;
    width: 18px;
    height: 18px;
}
.session-form .forget{
    margin-left:90px;
    margin-top:5px;
    display:block;
}

.session-form .osChina{
    padding-left: 62px;
        padding-top: 15px;
        margin-bottom: 20px;
}
.session-form .osChina span img{
    border-radius: 50%;
    width: 28px;
    margin-right: 20px;
    float: left;
}
.session-form .osChina .oschina-word{
    line-height: 30px;
    font-size: 15px;
}

.session-form .cutLine div{
    width: 104px;
    height: 30px;
    border-top: 1px solid #D6D6D6;
    border-radius: 2%;
    float: left;
    margin-top: 9px;
    color: #999;
    font-size: 15px;
}
.session-form .cutLine .noline{
    border: 0px;
    margin-top: 0px;
    margin-left: 12px;
}

li{
    display: inline;
    list-style-type: none;
}
.session-form .other img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin:0 14px;
}
