<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>登录页面</title>
    <link rel="shortcut icon" href="/images/favicon.ico">
    <link rel="stylesheet" href="/css/login.css">
</head>

<body>

<div class="session-wrapper">
    <div class="session_header">
        <a href="#">
            <img  class="myLogo" src="/images/favicon.ico" alt="logo">
        </a>
    </div>
    <div class="ui container">
        <div class="session_body">
            <div class="session-form">
                <header class="session-form_header">
                    <h2 class="session-form_tittle">
                        <span>登录</span>
                    </h2>
                    <span class="pull-right">
                                <span class="have-account">未有账号?</span>
                                <a href="/signup">点击注册</a>
                            </span>
                </header>
                <form class="session-register_form"
                      action="/login" accept-charset="UTF-8" id="new_user"
                      method="POST">
                    <p th:text="${message}"></p>
                    <div class="parent">
                        <input type="text" id="account" name="account" th:value="${account}"
                               placeholder="account"
                               required>
                    </div>
                    <div class="parent pwd">
                        <input class="user_pwd" id="rg-user_pwd" name="pwd" placeholder="密码"
                               required
                               type="password">
                    </div>
                    <div class="parent remember">
                        <input id="admin" name="role" type="radio" value="admin" required>
                        <span>管理员</span>
                        <input id="student" name="role" type="radio"
                               value="student" checked="checked">
                        <span>学生</span>
                        <input id="teacher" name="role" type="radio" value="teacher">
                        <span>老师</span>
                    </div>
                    <button id="btn-submit" class="sub-register" type="submit">立即登录</button>
                </form>
            </div>
        </div>
    </div>
    <div class="session_footer">
    </div>
</div>
</body>
</html>