<!DOCTYPE html>
<html>
<head>

</head>
<body>
<div id="container">
    <div class="logo">
        <a href="#"><img src="/images/qq.png" alt="" /></a>
    </div>
    <div id="box">
        <form  method="post">
            <p class="main">
                <label>用户名: </label>
                <input name="username" value="" />
                <label>密码: </label>
                <input type="password" name="password" value="">
            </p>
            <p class="space">
                <input type="submit" value="登录" class="login" />
            </p>
        </form>
    </div>
</div>
</body>
</html>