<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>学生注册页面</title>
    <link rel="shortcut icon" href="/images/favicon.ico">
    <link rel="stylesheet" href="/css/login.css">
</head>

<body>

<div class="session-wrapper">
    <div class="session_header">
        <a href="#">
            <img class="myLogo" src="/images/favicon.ico" alt="logo">
        </a>
    </div>
    <div class="ui container">
        <div class="session_body">
            <div class="session-form">
                <header class="session-form_header">
                    <h2 class="session-form_tittle">
                        <span>注册</span>
                    </h2>
                    <span class="pull-right">
                                <span class="have-account">已有账号?</span>
                                <a href="/login">点击登录</a>
                            </span>
                </header>
                <form class="session-register_form" th:object="${student}"
                      action="/signup" accept-charset="UTF-8" id="new_user"
                      method="POST">
                    <p th:text="${message}"></p>
                    <div class="parent">
                        <input type="text" id="id" name="id"  th:field="*{id}"
                               placeholder="学号,例:B18010101"
                               required>
                    </div>
                    <div class="parent pwd">
                        <input class="user_pwd" id="rg-user_pwd" name="pwd"
                               placeholder="密码,长度最大为12"
                               required type="password">
                    </div>
                    <div class="parent">
                        <input type="text" id="name" name="name" th:field="*{name}"
                               placeholder="名字,例:肖程旭"
                               required>
                    </div>
                    <div class="parent">
                        <label for="gender">性别:</label>
                        <select id="gender" name="gender" th:field="*{gender}" >
                            <option value="male">男</option>
                            <option value="female">女</option>
                        </select>
                    </div>
                    <div class="parent">
                        <input type="text" id="depart" name="depart" th:field="*{depart}"
                               placeholder="院系,例:计软网安院" required>
                    </div>
                    <div class="parent">
                        <input type="text" id="major" name="major" th:field="*{major}"
                               placeholder="专业,例:软件工程" required>
                    </div>
                    <div class="parent">
                        <input type="text" id="classname" name="classname"  th:field="*{classname}"
                               placeholder="班级,例:B180101" required>
                    </div>
                    <div class="parent remember">
                        <input id="accept_term" name="accept" type="checkbox" required>
                        <span>我同意遵守学校规章制度</span>
                    </div>
                    <div class="parent">
                        <input type="text" id="email" name="email" th:field="*{email}"
                               placeholder="选填 邮箱">
                    </div>
                    <div class="parent">
                        <input type="text" id="mobile" name="mobile" th:field="*{mobile}"
                               placeholder="选填 手机号">
                    </div>
                    <button id="btn-submit" class="sub-register" type="submit">立即注册</button>
                </form>
            </div>
        </div>
    </div>
    <div class="session_footer">
    </div>
</div>
</body>
</html>