<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.selectCourse.System.dao.UserMapper">
    <sql id="sql">namem,pwd</sql>
    <resultMap id="userMap" type="user">
        <id column="id" property="id"/>
        <result column="name" property="name"></result>
        <result column="pwd" property="pwd"></result>
        <result column="role" property="role"></result>
    </resultMap>
    <select id="selectMineCourse" parameterType="String">
     select selected from user where id = #{account}
    </select>
</mapper>